<h1>Add Actor</h1>

<form action="/actors/create">
<label for="dob">dob</label>
<input type="text" name="dob" id="dob" placeholder="dob"></input>

<label for="name">name</label>
<input type="text" name="name" id="name" placeholder="name"></input>

<label for="bio">bio</label>
<input type="text" name="bio" id="bio" placeholder="bio"></input>

<label for="image_url">Image URL</label>
<input type="text" name="image_url" id="image_url" placeholder="Image URL"></input>

<button type="submit">Create Actor</button>

</form>
