<h1>Add Movie</h1>

<form action="/movies/create">
<label for="title">title</label>
<input type="text" name="title" id="title" placeholder="title"></input>

<label for="year">year</label>
<input type="text" name="year" id="year" placeholder="year"></input>

<label for="duration">duration</label>
<input type="text" name="duration" id="duration" placeholder="duration"></input>

<label for="description">description</label>
<input type="text" name="description" id="description" placeholder="description"></input>

<label for="image_url">Image URL</label>
<input type="text" name="image_url" id="image_url" placeholder="Image URL"></input>

<button type="submit">Create Movie</button>

</form>
