<h1>Add Role</h1>

<form action="/roles/create">

<label for="character_name">Character Name</label>
<input type="text" name="character_name" id="character_name" placeholder="character_name"></input>

<label for="movie_id">Movie ID</label>
<input type="text" name="movie_id" id="movie_id" placeholder="movie_id"></input>

<label for="actor_id">Actor ID</label>
<input type="text" name="actor_id" id="actor_id" placeholder="actor_id"></input>

<button type="submit">Create Role</button>

</form>
