<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <navbar>
    <a href="/movies">MOVIE DB</a>
    <a href="/directors">Directors</a>
    <a href="/movies">Movies</a>
    <!--need to link DBs for Roles: -->
    <a href="#">Roles</a>
    <a href="/actors">Actors</a>
  </navbar>

  <%= yield %>

</body>
</html>
